.header-container {
    display: flex;
    justify-content: space-between;
}

.header-avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.header-left {
    gap: 8px;
}

.header-name {
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
}